<section data-ng-controller="HomeController" data-ng-init="homeInit()">

	<div class="row">
		<div class="col-md-4">
			<h2>
				<strong>N</strong>ext Actions
			</h2>
            <ul >
                <li data-ng-repeat="item in nextActions" data-ng-bind="item.title"></li>
            </ul>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>P</strong>rojects
			</h2>
            <ul>
                <li>Developm a website</li>
                <li>Take over the world</li>
            </ul>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>W</strong>aiting For
			</h2>
            <h3>
                <dt>Napolean</dt>
            </h3>
            <ul>
                <li>Get comments on strategy</li>
            </ul>
            <h3>
                <dt>Wellington</dt>
            </h3>
            <ul>
                <li>Get comments on boots</li>
            </ul>
		</div>
	</div>
	<div class="well">
		<h2>GTD Documentation</h2>
		<p>
            Buy the book!
		</p>
	</div>

</section>
