<section data-ng-controller="HomeController" data-ng-init="homeInit()">

	<div class="row">
        <div class="col-md-3">
            <h2>
                <strong>I</strong>nbox
            </h2>

            <ul >
                <li data-ng-repeat="item in inbox" >
                    <a href = "items/{{item._id}}/edit">{{item.title}}</a>
                </li>
            </ul>
            <form name="addForm" class="form-horizontal" data-ng-submit="newItem()" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newItemName" id="newItem" placeholder="New Item">
                </div>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>

        </div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ext <strong>A</strong>ctions
			</h2>
            <ul >
                <li data-ng-repeat="item in nextActions" >
                    <a href = "items/{{item._id}}/edit">{{item.title}}</a>
                </li>
            </ul>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>P</strong>rojects
			</h2>
            <ul >
                <li data-ng-repeat="item in projects" >
                    <a href = "items/{{item._id}}/edit">{{item.title}}</a>
                </li>
            </ul>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>W</strong>aiting For
			</h2>
            <div data-ng-repeat="wf in waitingFor">
                <strong>
                    <dt>{{wf.name}}: </dt>
                </strong>
                <ul>
                    <li data-ng-repeat="item in wf.items">
                        <a href = "items/{{item._id}}/edit">{{item.title}}</a>
                    </li>
                </ul>
            </div>


		</div>
	</div>
	<div class="well">
		<h2>GTD Documentation</h2>
		<p>
            Buy the book!
		</p>
	</div>

</section>
