<section data-ng-controller="HomeController" data-ng-init="homeInit()">

	<div class="row">
        <div class="col-md-3">
            <h2>
                <strong>I</strong>nbox
            </h2>
            Input for new task goes here
            <ul >
                <li data-ng-repeat="item in inbox" >
                    <a href = "items/{{item._id}}/edit">{{item.title}}</a>
                </li>
            </ul>
        </div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ext <strong>A</strong>ctions
			</h2>
            <ul >
                <li data-ng-repeat="item in nextActions" >
                    <a href = "items/{{item._id}}/edit">{{item.title}}</a>
                </li>
            </ul>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>P</strong>rojects
			</h2>
            <ul >
                <li data-ng-repeat="item in projects" >
                    <a href = "items/{{item._id}}/edit">{{item.title}}</a>
                </li>
            </ul>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>W</strong>aiting For
			</h2>
            <h3>
                <dt>Napolean</dt>
            </h3>
            <ul>
                <li>Get comments on strategy</li>
            </ul>
            <h3>
                <dt>Wellington</dt>
            </h3>
            <ul>
                <li>Get comments on boots</li>
            </ul>
		</div>
	</div>
	<div class="well">
		<h2>GTD Documentation</h2>
		<p>
            Buy the book!
		</p>
	</div>

</section>
